modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TelegramBot"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"
waitForPort = 5000

[[workflows.workflow]]
name = "TelegramBot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd telegram-bot && node src/index.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[nix]
channel = "stable-25_05"
packages = ["chromium"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34297
externalPort = 3001

[[ports]]
localPort = 37033
externalPort = 5000

[[ports]]
localPort = 37115
externalPort = 4200

[[ports]]
localPort = 42629
externalPort = 3002

[[ports]]
localPort = 42907
externalPort = 3000

[[ports]]
localPort = 43227
externalPort = 3003

[userenv]

[userenv.shared]
DOMAIN_REG_API = "http://localhost:5000"
BOT_PORT = "3000"
